data/
random_expts/
old_model_checkpoints/
resnet_scratch_checkpts/
plots/
siamese_triplet/
__pycache__/
input*
*.pkl
*.pt
*.png
*.hdf5
*.txt
plot.py
plot_reg.py
reg_plot.py
tSNE.py
clean_main.py
small_model.py
